<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>
<body>

<form th:action="@{/users/create}" method="post" th:object="${createdUser}">
  <p>Login <input type="text" field="*{login}" name="login"></p>
  <p>Password <input type="password" field="*{password}" name="password"></p>
  <p>Email <input type="text" field="*{email}" name="email"></p>
  <input type="submit" value="Create user">
</form><br>

<a th:href="@{/homePage}"> Back </a>

</body>
</html>